
body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,STHeiti,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.logo{float:left;margin:0;display:inline-block;width:165px;}
.logo a{display:block;height:54px;width:161px;background:url("http://sf-static.b0.upaiyun.com/build/global/img/logo-w.723608ae.svg") no-repeat left center;-moz-background-size:161px auto;-o-background-size:161px auto;-webkit-background-size:161px auto;background-size:161px auto;text-indent:110%;white-space:nowrap;overflow:hidden;text-transform:capitalize}



.avatar-24 {
    width: 24px;
    height: 24px;
}

.avatar-128 {
    width: 128px;
    height: 128px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.bg-gray {
    background-color: #F3F3F3;
}

.mt10,.mt-10 {
    margin-top: 10px;
}
.mt30, .mt-30 {
    margin-top: 30px;
}

.main-title {
    margin: 30px 0 25px;
    font-size: 18px;
    vertical-align: middle;
}
p {
    margin: 0 0 10.5px;
}

.stream-list {
    margin-bottom: 10px;
}

.question-stream .stream-list__item {
    padding: 9px 0;
}
.stream-list__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.qa-rank, .bookmark-rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666;
}

.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.qa-rank small, .bookmark-rank small {
    display: block;
    font-size: 12px;
}

.qa-rank .answers, .bookmark-rank .answers {
    background-color: #AD3A37;
    color: #fff;
}
.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    border-radius: 1px;
}
.stream-list__item .summary {
    overflow: auto;
}

.stream-list__item .author {
    margin-bottom: 2px;
    color: #999;
    font-size: 13px;
}
.stream-list__item .title {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 16px;
}
.list-inline {
    margin-left: -5px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.widget-links__item small {
    display: inline-block;
    font-size: 13px;
}
.text-muted {
    color: #777;
}
.list-unstyled, .list-inline {
    padding-left: 0;
    list-style: none;
}

.ib.taglist--inline, .ib.taglist--block {
    margin: 0;
    display: inline-block;
}
.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0;
}
.taglist--inline>li {
    display: inline-block;
    margin-right: 5px;
}

.taglist--inline.multi>li {
    margin-bottom: 5px;
}

.tag-sm {
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}
.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017e66;
    background-color: #E7F2ED;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
}


.widget-welcome {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #666;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
}

.widget-box {
    margin: 25px 0;
    padding-top: 25px;
    border-top: 1px solid #eee;
}

.widget-box .widget-box__title {
    margin: 0 0 20px;
    font-size: 16px;
}
.widget-links__item {
    margin-bottom: 8px;
}

#footer .copyright {
    text-align: center;
    font-size: 13px;
}

