.profile-header{padding:10px;border:1px solid #ddd;background-color:#fff;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px;border-radius:3px 3px 0 0}
.profile-header h4{margin:15px 0 5px;font-size:20px}
.profile-header>.pull-left{margin-right:20px}
.profile-header .sn-inline li{margin-bottom:5px}
.profile-links{margin:20px 0 0}
.profile-links li{margin-top:8px}
.profile .profile-ranks{margin:-1px 0 0;border:1px solid #ddd;overflow:hidden;width:100%;text-align:center}
.profile .profile-ranks a{text-decoration:none}
.profile .profile-ranks li{float:left;width:33.33%;padding:10px 0;margin:0;line-height:1.2;border-left:1px dotted #ddd}
.profile .profile-ranks li:first-child{border-left:0}
.profile .profile-ranks li strong{display:block;font-size:20px}
.profile .profile-bio{margin-top:-1px;padding:15px 15px 5px;border:1px solid #ddd;background-color:#f6f6f6;font-size:13px;max-height:300px;overflow:auto}
.profile .profile-bio pre{padding:0;border:0;background-color:transparent}
.profile .profile-goodjob{position:relative;margin-top:-1px;padding:15px;border:1px solid #ddd;-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0;border-radius:0 0 3px 3px}
.profile .profile-goodjob .joindate,.profile .profile-goodjob .joindate a{font-size:13px;color:#999}
.profile .profile-goodjob #piechart{margin:20px -10px;max-width:310px;min-height:200px}
.rep-rects{list-style:none;margin:-1px 0 0;padding:6px 0 6px 6px;border:1px solid #ddd;border-width:1px}
.rect{display:block;float:left;margin:1px;width:15px;height:15px}
.rect:hover{-moz-box-shadow:0 0 0 1px #009a61;-webkit-box-shadow:0 0 0 1px #009a61;box-shadow:0 0 0 1px #009a61}
.nav-pills{margin-bottom:15px;padding:15px 0;border-bottom:1px solid #ddd}
.nav-pills>li>a{margin-right:5px;padding:5px 12px}
.nav-pills a:hover .badge{background-color:#fff}
.nav-pills .badge{background-color:#eee;color:#888;font-weight:normal;vertical-align:text-bottom}
.nav-pills>li.active .count{color:#fff}
.tab-pane .text-muted>strong{color:#000;font-size:24px;font-weight:normal}
.tab-pane .widget-prestige{margin-left:0}
.tab-pane .widget-prestige li{padding:1px}
.tab-pane .badges ul{height:190px;overflow:hidden}
.tab-pane .badges li{padding:6px 3px;margin-bottom:10px}
.tab-pane .tags ul{overflow:hidden;height:170px}
.tab-pane .tags li{margin-bottom:10px}
.tab-pane .orgs .media{margin-top:0;margin-bottom:10px}
.tab-pane .orgs ul{height:170px;overflow:hidden}
.tab-pane .col-md-6 .list-group{list-style:none}
.tab-pane .col-md-6 .list-group li{margin-bottom:10px}
.tab-pane .col-md-6 .list-group .tag{margin-bottom:10px;margin-right:10px;float:left}
.tab-pane .table td{border:0;font-size:14px}
.tab-pane .media:first-child{margin-top:15px}
.tab-pane .list-group li{margin-bottom:10px}
.record-list{border-top:1px solid #EEE}
.record-list li{overflow:hidden;margin-top:10px;border-bottom:1px solid #EEE}
.record-list li .pull-left{width:37px;text-align:right;margin-right:15px}
.record-list li .badge{background-color:#FFF;border:1px solid}
.record-list li p{margin-left:52px}
.board-title span{font-weight:normal}
.board{border-color:#EEE}
.blog-list{margin-bottom:20px}
.blog-list__item{padding:10px 0}
.blog-list__item .excerpt{display:block;color:#666}
.blog-list__item .excerpt:hover{text-decoration:none}
tspan::selection{background:#b3d4fd}
.error--slug{font-size:90%;color:#c7254e;background-color:#f9f2f4;white-space:nowrap;border-radius:2px;position:absolute}
.jcrop-holder{margin:auto}
.drafts-stream .label{padding-top:4px}
.stream-list__item.ignored,.stream-list__item.answered{filter:alpha(opacity=50);opacity:.5}
.stream-list__item.ignored a,.stream-list__item.answered a{font-weight:normal}
.notify-stream .time{margin:20px 0 0;padding:5px 0;border-bottom:1px solid #eee;font-size:16px}
.notify-stream .time+section{border:0}
.notify-stream .stream-list__item{position:relative;padding:8px 15px 8px 25px;color:#666;border:0;border-top:1px dotted #eee;background:#fff9ea}
.notify-stream .stream-list__item a{font-weight:bold}
.notify-stream .stream-list__item:before{position:absolute;left:10px;top:15px;content:"";display:inline-block;width:8px;height:8px;background:#f5a623;-moz-border-radius:100%;-webkit-border-radius:100%;border-radius:100%}
.notify-stream .stream-list__item.viewed{background:transparent}
.notify-stream .stream-list__item.viewed a{font-weight:normal}
.notify-stream .stream-list__item.viewed:before{visibility:hidden}
.bookmark-info .description{margin:10px 0 0;color:#666}
.ranking-section .media{overflow:visible}
.ranking-section h2{margin:0 0 25px;padding-top:20px;border-top:1px solid #ddd;font-weight:normal}
.ranking-section ul{margin-bottom:25px}
.ranking-section ul small{color:#ddd}
.ranking-section .name a{color:#333}
.ranking-section .name a:hover{color:#017e66}
.ranking-section .pos{margin-top:10px;width:20px}
.ranking-section .score{color:#999;font-size:13px}
.ranking-section .earn{padding:0 5px;background:#009a61;color:#fff;border-radius:20px}
.ranking-section.mini img{width:24px;height:24px}
.ranking-section.mini .name{display:inline}
.ranking-section.mini .score{display:inline}
.ranking-section.mini .pos{margin-top:3px}
.user-favorites .bg-gray .container{padding-top:20px;min-height:400px}
.user-favorites form.bg-white{padding:20px}
.user-favorites .input-lg{border-radius:5px}
.user-favorites .fancyinput{border:0;border-bottom:1px solid #EEE;border-radius:0;box-shadow:none;padding-left:0;resize:none}
.user-favorites .fancyinput.input-lg{padding-bottom:0}
.user-favorites .checkbox{margin-top:0;margin-bottom:10px;padding-left:10px;height:21px}
.user-favorites .checkbox label{height:21px;line-height:21px;width:100%;overflow:hidden;display:inline-block}
.user-favorites .checkbox:hover,.user-favorites .checkbox.checked{cursor:pointer;background-color:#fffbc7}
.user-favorites .refresh{color:#CCC;float:right;margin-top:-25px}
.user-favorites .glyphicon-lock{color:#f5a623}
.user-favorites .btn-lg{border-radius:5px}
.user-favorites .widget-help{padding:15px 15px 25px}
.user-favorites .widget-help .title{color:#d0021b}
.user-favorites .widget-help p{margin-bottom:20px}
.user-favorites .widget-help .drag{cursor:-webkit-grabbing;text-decoration:none;padding:8px;background:#FFF;border:1px dashed #ccc;border-radius:3px}
.license-item{display:none}
