
/*主页头部*/
.space-header{background-color:#fff;padding:40px 0 30px}
.space-header-name{margin:0}
.space-header-desc{padding:10px;background: #eee;line-height:18px;}
.space-header-desc p:last-child{margin-bottom:0}
.space-header-authentication,.space-authentication-skill{color:#999;}
.space-header-authentication .fa{color:#ff8a00;}
.space-header-item{margin-right:30px;font-size:14px;line-height:20px;vertical-align:middle}
.space-header-social .space-header-item,.space-authentication-skill{color:#666;}
.space-header-info a{text-decoration:none}
.space-header-info .h3{display:block;color:#333;margin:0 0 5px}
.space-header-info span{color:#999;line-height:20px}

/*主页左侧菜单导航*/
.space-nav{border-bottom:none;padding-top:0}
.space-nav li a{color:#666}
.space-nav li.divider a{border-bottom:1px solid #eee;margin-right:5px;border-radius:0}
.space-nav li.divider a:hover{background-color:transparent}

/*动态*/

/*动态样式*/
.stream-doing section{padding:10px 0;border-top:1px solid #EEE}
.stream-doing-item-info{color:#999;margin-bottom:5px}
.stream-doing-item-title h4{display:inline;margin:0 5px 0 0;font-size:15px}
.stream-doing-item-title h4 a{color:#333}
.stream-doing-item-title h4 a:hover{color:#017e66}
.stream-doing-item-quote{border-left:5px solid #EEE;padding-left:10px;margin-top:5px;margin-bottom:0;color:#888;word-break:break-all}



/*积分记录*/
.record-list li{overflow:hidden;margin-top:10px;border-bottom:1px solid #EEE}
.record-list li .pull-left{width:37px;text-align:right;margin-right:15px}
.record-list li p{margin-left:52px}
.coins .badge{background-color:#FF8100;}
.credits .badge{background-color:#449d44;}

/*公共表单列表*/
.space-stream-heading{margin: 0;padding: 15px 0;border-bottom: 1px solid #eee;}
.space-stream-list{list-style:none;padding:0;border-top:none}
.space-stream-list li{padding:10px 0;border-bottom:1px solid #eee;margin-top:0}
.space-stream-list li .badge{background-color:#fff;border:1px solid;text-align:center;margin-right:10px;width:30px;height:18px;font-weight:400;padding:0;line-height:18px}
.space-stream-item-text{color:#666}
.space-stream-item-date{font-size:14px;color:#999;line-height:19px}
.space-stream-item-title{font-size:14px;color:#333;line-height:26px}
.space-stream-item-title-warp{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}

/*关注列表*/
.stream-following .avatar-32{float:left;margin-right:10px}
.stream-following-list >li{padding:12px 0;border-bottom:1px solid #eee}
.stream-following-followed{color:#999;line-height:20px}
.stream-following-desc {font-size: 13px;color: #666;line-height: 21px;}

.space_mine_heading{margin:0;padding-bottom:20px;border-bottom:1px solid #eee}
.space_mine_heading small{margin-left:15px}
.space_mine_heading--filter span{font-size:14px;color:#999;line-height:20px;font-weight:400}
.space_mine_heading--filter .btn-group{margin-left:10px}
.space_mine_content{list-style:none;padding:0;border-top:none;margin-top:0}
.space_mine_content--type{display:inline-block;font-size:13px;color:#999;line-height:26px;margin-right:10px}
.space_mine_content li{padding:10px 0;border-bottom:1px solid #eee;margin-top:0}
.space_mine_content li .badge{background-color:#FFF;border:1px solid;text-align:center;margin-right:10px;width:30px;height:18px;font-weight:400;padding:0;line-height:18px}
.space_mine_content--text{color:#666}
.space_mine_content--date{font-size:14px;color:#999;line-height:19px}
.space_mine_content--title{font-size:14px;color:#333;line-height:26px}
.space_mine_content--title-warp{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.space_mine_content--title-warp a:nth-child(2){font-size:13px;color:#999;margin-left:18px}
.space_mine_content .label{display:inline-block;width:55px;line-height:26px;font-size:13px;padding:0;font-weight:500}
.space_mine_content .label-warning{background-color:#FCF8E3;color:#8A6D3B}
.space_mine_content .label-danger{background-color:rgba(235,138,136,.32);color:#CA4C48}
.space_mine_content .label-success{background-color:#DFF0D8;color:#43894E}
