
/*主页头部*/
.space-header{background-color:#f6f6f6;padding:40px 0 30px}
.space-header-name{margin:0}
.space-header-role{font-size:16px;color:#666;margin:5px 0 0}
.space-header-desc{padding:10px;background: #eee;line-height:18px;}
.space-header-desc p:last-child{margin-bottom:0}
.space-header-social{margin-top:15px}
.space-header-social-item{margin-right:30px;font-size:14px;color:#666;line-height:20px;vertical-align:middle}
.space-header .fa{color:#ccc;}
.space-header-info a{text-decoration:none}
.space-header-info .h3{display:block;color:#333;margin:0 0 5px}
.space-header-info span{color:#999;line-height:20px}

/*主页左侧菜单导航*/
.space-nav{border-bottom:none;padding-top:0}
.space-nav li a{color:#666}
.space-nav li.divider a{border-bottom:1px solid #eee;margin-right:5px;border-radius:0}
.space-nav li.divider a:hover{background-color:transparent}
.space-nav li.active a{background-color:#f0f5f3;color:#009a61}

/*动态*/

/*动态样式*/
.steam-doing section{padding:10px 0;border-top:1px solid #EEE}
.steam-doing-item-info{color:#999;margin-bottom:5px}
.steam-doing-item-title h4{display:inline;margin:0 5px 0 0;font-size:15px}
.steam-doing-item-title h4 a{color:#333}
.steam-doing-item-title h4 a:hover{color:#017e66}
.steam-doing-item-quote{border-left:5px solid #EEE;padding-left:10px;margin-top:5px;margin-bottom:0;color:#888;word-break:break-all}



/*积分记录*/
.record-list li{overflow:hidden;margin-top:10px;border-bottom:1px solid #EEE}
.record-list li .pull-left{width:37px;text-align:right;margin-right:15px}
.record-list li p{margin-left:52px}
.coins .badge{background-color:#FF8100;}
.credits .badge{background-color:#449d44;}

/*公告列表*/
.space-steam-heading{margin: 0;padding-bottom: 20px;border-bottom: 1px solid #eee;}
.space-steam-list{list-style:none;padding:0;border-top:none}
.space-steam-list li{padding:10px 0;border-bottom:1px solid #eee;margin-top:0}
.space-steam-list li .badge{background-color:#fff;border:1px solid;text-align:center;margin-right:10px;width:30px;height:18px;font-weight:400;padding:0;line-height:18px}
.space-steam-item-text{color:#666}
.space-steam-item-date{font-size:14px;color:#999;line-height:19px}
.space-steam-item-title{font-size:14px;color:#333;line-height:26px}
.space-steam-item-title-warp{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
