#page_message {
  display: none;
  font-size: 15px;
  overflow: visible;
  text-align: center;
  left: 0;
  top: 0;
  /* place over all elements, also over modals */
  z-index: 10001;
  width: 100%;
  border-bottom: 1px solid;
  color: white;
  padding: 15px;
  position: fixed;
}

.page_mess_error {
  background-color: #de4343;
  border-color: #ca2424;
}

.page_mess_ok {
  background-color: #48bb5e;
  border-color: #38984b;
}

